{% extends 'movieapp/base.html' %}
{% block contents %}
{% load static %}


<div class="site-section site-portfolio">
    <div class="container">
        <div class="row mb-5 align-items-center">
            <div class="col-md-12 col-lg-6 mb-4 mb-lg-0" data-aos="fade-up">
                <h2>영화 추천 서비스</h2>
                <p class="mb-0">Freelance Creative &amp; Professional Graphics Designer</p>
            </div>
            <div class="col-md-12 col-lg-6 text-left text-lg-right" data-aos="fade-up" data-aos-delay="100">
                <div id="filters" class="filters">
                    <a href="#" data-filter="*" class="active">All</a>
                    <a href="#" data-filter=".web">Web</a>
                    <a href="#" data-filter=".design">Design</a>
                    <a href="#" data-filter=".branding">Branding</a>
                    <a href="#" data-filter=".photography">Photography</a>
                </div>
            </div>
        </div>
        {% if error %}
        <p>{{ error }}</p>
        {% endif %}
        <!--<form method="post" action="{% url 'login' %}">-->
        <form method="post" action="{% url 'login' %}">

            {% csrf_token %}
            <div class="'form-group">
                <label for="username">사용자 id 입력</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="아이디">
            </div>
            <div class="'form-group">
                <label for="password">비밀번호 입력</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호">
            </div>
            <input type="hidden" name="path" value="{{ request.path }}">
            <button type="submit" class="btn btn-primary">로그인</button>
        </form>
            <a type="button" href="{% url 'create_user' %}" class="btn btn-dark">회원가입</a>

    </div>

    {% endblock contents %}
