{% extends 'movieapp/base.html' %}
{% block contents %}
{% load static %}


    <div class="site-section pb-0 site-portfolio">
      <div class="container">
          <table style="margin: 0 auto;">
              <h3>회원가입</h3>
              <form action="{% url 'create_user' %}" method="post">
                  {% csrf_token %}
                  {{ user_form }}
                  {{ userdetail_form }}
                  <button type="submit" class="save readmore d-block w-10">Send</button>
              </form>
          </table>

          <form action="{% url 'create_user' %}" method="post">
    <table>

        이름 : {{user_form.first_name}}
        {% for field in user_form %}
        <tr><td>{{field}}</td></tr>
        {% endfor %}
    </table>
    <input type="submit" value="Submit">
</form>
      </div>

    </div>

{% endblock %}