{% extends 'movieapp/base.html' %}
{% block contents %}
{% load static %}


    <div class="site-section pb-0 site-portfolio">
      <div class="container">

            <table>
        <h3>회원가입</h3>
        <form action="{% url 'create_user' %}" method="post">
            {% csrf_token %}
            {{ user_form }}
            {{ userdetail_form }}
            <button type="submit" class="save readmore d-block w-10">Send</button>
        </form>
    </table>

<!--        <div class="row mb-5 align-items-end">-->
<!--          <div class="col-md-6" data-aos="fade-up">-->
<!--            <h2>회원가입</h2>-->
<!--&lt;!&ndash;            <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam necessitatibus incidunt ut&ndash;&gt;-->
<!--&lt;!&ndash;              officiis explicabo inventore.&ndash;&gt;-->
<!--&lt;!&ndash;            </p>&ndash;&gt;-->
<!--          </div>-->

<!--        </div>-->

<!--&lt;!&ndash;          <form method="post" action="{% url 'login' %}">&ndash;&gt;-->
<!--&lt;!&ndash;            {% csrf_token %}&ndash;&gt;-->
<!--&lt;!&ndash;                <table class="table table-bordered table-hover">&ndash;&gt;-->
<!--&lt;!&ndash;                    <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                        <td>{{ form.username.label_tag }}</td><td>{{ form.username }}</td>&ndash;&gt;-->
<!--&lt;!&ndash;                    </tr>&ndash;&gt;-->
<!--&lt;!&ndash;                    <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                        <td>{{ form.password.label_tag }}</td><td>{{ form.password }}</td>&ndash;&gt;-->
<!--&lt;!&ndash;                    </tr>&ndash;&gt;-->
<!--&lt;!&ndash;                </table>&ndash;&gt;-->
<!--&lt;!&ndash;                <input type="submit" value="login" class="btn btn-primary btn-lg" />&ndash;&gt;-->
<!--&lt;!&ndash;                <input type="hidden" name="next" value="{{ next }}" />&ndash;&gt;-->
<!--&lt;!&ndash;            </form>&ndash;&gt;-->

<!--        <div class="row">-->
<!--          <div class="col-md-6 mb-5 mb-md-0" data-aos="fade-up">-->

<!--            <form action="{forms/contact.php}" method="post" role="form" class="php-email-form">-->
<!--                {% csrf_token %}-->
<!--              <div class="row">-->
<!--                <div class="col-md-12 form-group">-->
<!--                  <label for="name">아이디</label>-->
<!--                  <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />-->
<!--                  <div class="validate"></div>-->
<!--                </div>-->
<!--                <div class="col-md-12 form-group">-->
<!--                  <label for="name">비밀번호</label>-->
<!--                  <input type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" />-->
<!--                  <div class="validate"></div>-->
<!--                </div>-->
<!--                <div class="col-md-12 form-group">-->
<!--                  <label for="name">비밀번호 재확인</label>-->
<!--                  <input type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" />-->
<!--                  <div class="validate"></div>-->
<!--                </div>-->
<!--                <div class="col-md-12 form-group">-->
<!--                  <label for="name">이름</label>-->
<!--                  <input type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" />-->
<!--                  <div class="validate"></div>-->
<!--                </div>-->
<!--                <div class="col-md-12 form-group">-->
<!--                  <label for="name">생년월일</label>-->
<!--                  <input type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" />-->
<!--                  <div class="validate"></div>-->
<!--                </div>-->
<!--                <div class="col-md-12 form-group">-->
<!--                  <label for="name">성별</label>-->
<!--                    <select id="gender" class="form-control" aria-label="성별">-->
<!--                        <option value="true">남자</option>-->
<!--                        <option value="true">여자</option>-->
<!--                    </select>-->
<!--&lt;!&ndash;                  <input type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" />&ndash;&gt;-->
<!--                  <div class="validate"></div>-->
<!--                </div>-->
<!--                <div class="col-md-12 form-group">-->
<!--                  <label for="name">이메일</label>-->
<!--                  <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />-->
<!--                  <div class="validate"></div>-->
<!--                </div>-->

<!--                <div class="col-md-12 mb-3">-->
<!--                    <div class="loading">Loading</div>-->
<!--                  <div class="error-message"></div>-->
<!--                  <div class="sent-message">Your message has been sent. Thank you!</div>-->
<!--                </div>-->

<!--                <div class="col-md-6 form-group">-->
<!--                  <input type="submit" class="readmore d-block w-100" value="Send Message">-->
<!--                </div>-->
<!--              </div>-->

<!--            </form>-->

<!--          </div>-->

<!--        </div>-->

      </div>

    </div>

{% endblock %}