<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'movieapp/img/favicon3.png' %}" rel="icon" type="image/x-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|Raleway:400,700&display=swap"
    rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'movieapp/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'movieapp/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'movieapp/vendor/line-awesome/css/line-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'movieapp/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'movieapp/vendor/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'movieapp/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
    Template Name: MyPortfolio
    Template URL: https://bootstrapmade.com/myportfolio-bootstrap-portfolio-website-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com/
  ======================================================= -->
  <style>
    .p-longtext {
      line-height: 1.8;
      text-align: justify;
    }
  </style>

</head>

<body>

  <nav class="navbar navbar-light custom-navbar">
    <div class="container">
        <a href="{% url 'index' %}" class="font-heading" style="color: #212529"><h4>Home</h4></a>
      <div class="float-left"><h2>방구석 스크린</h2></div>

      <div>
      {% if request.session.user_id %}
        <span id="user-id" data-id="{{ request.session.user_id }}">{{ request.session.user_id }}님</span>
        <a class="mb-0" href="{% url 'logout' %}">로그아웃</a>
        <p style="text-align: center"> <a class="mb-0" href="{% url 'show_wishlist' %}">찜한 영화</a></p>
      {% else %}
        <a class="mb-0" href="{% url 'login' %}?next={{request.get_full_path|urlencode}}">로그인 및 회원가입</a>

      {% endif %}
        </div>
    </div>
  </nav>
  <div style="text-align: center">
    <span>장르별, 감독/배우별 방구석에서 볼만한 영화를 추천해드립니다.</span>
  </div>

        {% block contents %}
        {% endblock %}

  <!-- Vendor JS Files -->
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>

  <script src="{% static 'movieapp/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'movieapp/vendor/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'movieapp/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'movieapp/vendor/easing/easing.min.js' %}"></script>
  <script src="{% static 'movieapp/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'movieapp/vendor/isotope/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'movieapp/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'movieapp/vendor/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'movieapp/js/main.js' %}"></script>

</body>

</html>
