{% extends 'movieapp/base.html' %}
{% block contents %}
{% load static %}

<head>
  <meta charset="utf-8">
  <title>방구석스크린</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
</head>

  <main id="main">

    <div class="site-section site-portfolio">
      <div class="container">
        <div class="row mb-5 align-items-center">
          <div class="col-md-12 col-lg-6 mb-4 mb-lg-0" data-aos="fade-up">
            <h2>영화 추천 서비스</h2>
            <p class="mb-0">장르별, 감독/배우별 방구석에서 볼만한 영화를 추천해드립니다.<br></p>
          </div>
          <div class="col-md-12 col-lg-6 mb-4 mb-lg-0" data-aos="fade-up"></div>
          <div class="container" style="padding:20px">
            <form class="form-inline my-2 my-lg-0" action="{% url 'search_movie' %}" method="post">
              {% csrf_token %}
              <div class="box_main">
			    <input type="search" class="email_bt" placeholder="Search" name="word" value="{{word}}" style="border:1px">
				<button class="subscribe_bt" type="submit">검색</a></button>
		      </div>
          </div>
          <div class="container" style="padding:20px 0px 0px 0px">
            <div id="filters" class="filters" align="right">
              <a href="#" data-filter="*" class="active">전체</a>
              <a href="#" data-filter=".web">드라마</a>
              <a href="#" data-filter=".design">액션</a>
              <a href="#" data-filter=".branding">코미디</a>
              <a href="#" data-filter=".photography">애니메이션</a>
            </div>
          </div>
        </div>
        <div id="portfolio-grid" class="row no-gutter" data-aos="fade-up" data-aos-delay="200">
            {% for movie in movie_list %}
          <div class="item web col-sm-6 col-md-4 col-lg-4 mb-4">
            <a href="{% url 'movie_detail' pk=movie.pk %}" class="item-wrap fancybox">
              <div class="work-info">
                <h3>{{ movie.title }}</h3>
                <span class="genre-names">
                {% for genre in movie.genres.all %}
                  {{ genre.genre }}
                {% endfor %}
                </span><br>
                <span>{{ movie.score }}</span>
              </div>
              <img class="img-fluid" src="{% static 'movieapp/img/poster/'%}{{movie.pk}}.jpg">
            </a>
          </div>
          {% endfor %}
        </div>

      </div>
    </div>
  </main>


{% endblock %}