{% extends 'movieapp/base.html' %}
{% block contents %}
{% load static %}
{% load humanize %}

<head>
  <meta charset="utf-8">
  <title>{{ movie.title }} : 방구석스크린</title>
</head>

    <div class="site-section">
      <div class="container" data-aos="fade-up">
        <div>
            <h2>{{ movie.title }}</h2>
            <div>
                평점 {{ movie.score|floatformat:2 }}점 ({{ movie.comment_count|intcomma }}명 참여)
          </div>
        </div>
    </div>

      <div class="movie-session">
        <div class="container">
            <div class="row align-items-stretch" data-aos="fade-up">
                <div class="col-md-5" data-aos="fade-up">
                    <img src="{% static 'movieapp/img/poster/'%}{{movie.pk}}.jpg" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-6 ml-auto" data-aos="fade-up" data-aos-delay="100">
                    <b><h3 class="h3 md-5 mb-5" style="margin-top: 2rem;">영화 상세정보</h3></b>
                    <ul class="list-unstyled list-line mb-5">
                        {% if movie.audience %}
                        <li class="mb-3">{{ movie.release_year }}년 개봉 (누적관객 {{ movie.audience|intcomma }}명)</li>
                        {% else %}
                        <li class="mb-3">{{ movie.release_year }}년 개봉</li>
                        {% endif %}

                        <li class="mb-3">
                            <b>장르 </b>
                            {% for genre in movie.genres.all %}
                            {{ genre.genre }}
                            {% endfor %}
                        </li>
                        <li class="mb-3"><b>감독</b> {{ movie.director }} | {{ movie.nation }}</li>

                        <li class="mb-3"><b>출연 </b>
                            {% for actor in movie.actors.all %}
                                {% if forloop.last %}
                                    {{ actor.actor }}
                                {% else %}
                                    {{ actor.actor }},
                                {% endif %}
                            {% endfor %}
                        </li>
                    </ul>
                    {% if movie.plot|length <= 523 %}
                    <p class="p-longtext">{{ movie.plot|linebreaksbr }}</p>
                    <div class="sticky-content" style="margin-top: 15%;">
                    {% else %}
                    <div class="sticky-content" style="margin-top: 30%;">
                    {% endif %}


                        <p class="p mb-3"><span class="text-muted"></span>
                            <p class="mb-3" id="count">{{movie.count_likes_user}}명이 좋아합니다.</p>
                            <a type="button" class="like btn btn-outline-dark p mb-1 float-left" data-id="{{ movie.id }}">
                                {% if user_status %}
                                    <img class="like-img" src="{% static 'movieapp/img/like.png' %}" alt="Image" style="width: auto; height: auto;
    max-width: 7%;"></img>이 영화 찜하기</a>
                                {% else %}
                                    <img class="like-img" src="{% static 'movieapp/img/dislike.png' %}" alt="Image" style="width: auto; height: auto;
    max-width: 7%;"></img>이 영화 찜하기</a>
                                {% endif %}
                        </p>

                    </div>
                </div>
            </div>
        </div>
          {% if movie.plot|length > 523 %}
          <div class="container" style="margin-top:3em">
              <div class="col-md-12" >
                <p class="p-longtext">{{ movie.plot|linebreaksbr }}</p>
              </div>
          </div>
          {% endif %}
      </div>

<div class="site-section pb-0" data-aos="fade-up">
    <div class="container">
        <h3>Comment Keyword</h3>
        <img src="{% static 'movieapp/img/wordcloud/'%}{{movie.pk}}.png" alt="Image" class="img-fluid" align="center" style="display: block; margin: 0px auto;">
    </div>
</div>

{% block comment %}
{% endblock comment %}


    <footer class="footer" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p class="mb-1">&copy; Copyright MyPortfolio. All Rights Reserved</p>
          <div class="credits">

            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
  $(".like").click(function(){
    var user_name = $("#user-id").data("id");
    if (user_name == null){
        alert("로그인이 필요합니다.");
        window.location.replace("{% url 'login' %}?next={{request.get_full_path|urlencode}}")
        return ;
    };
    var movie_id = $(this).data("id");
    $.ajax({
      type: "POST",
      url: "{% url 'add_wishlist' %}",
      data: {'movie_id': movie_id, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
      dataType: "json",
      success: function(response){
        $("#count").html(response.like_count+"명이 좋아합니다.");
        if (response.message == 1) {
            $(".like-img").attr('src',"{% static 'movieapp/img/like.png' %}")
        }
        else {
            $(".like-img").attr('src',"{% static 'movieapp/img/dislike.png' %}")
        }
      },
      // error: function(response){
        // alert("로그인이 필요합니다.")
        // window.location.replace("{% url 'login' %}?next={{request.get_full_path|urlencode}}")
      // },
    });
  });

</script>

{% endblock contents %}

