{% extends 'movieapp/movie_detail.html' %}
{% block comment %}
{% load static %} {% load humanize %}

    <div class="site-section">
        <div class="container">
            <table>
                <h3>New Comment</h3>
                {% if request.session.user_id %}
                <form method="post" action="{% url 'add_comment' pk=movie.pk %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-7 form-group">
                            <div class="star-box">
                                <span class="star star_left" value="1"></span>
                                <span class="star star_right" value="2"></span>

                                <span class="star star_left" value="3"></span>
                                <span class="star star_right" value="4"></span>

                                <span class="star star_left" value="5"></span>
                                <span class="star star_right"  value="6"></span>

                                <span class="star star_left" value="7"></span>
                                <span class="star star_right" value="8"></span>

                                <span class="star star_left" value="9"></span>
                                <span class="star star_right" value="10"></span>
                            </div>
                            <div style="display:none;">
                                <input type="range" class="form-control" id="comment-score" name="comment-score">
                            </div>
                        </div>
                        <div class="col-md-7 form-group">
                            <input type="text" class="form-control" id="comment" name="comment" placeholder="댓글을 작성해주세요.">
                            <input type="hidden" name="path" value="{{ request.path }}">
                        </div>
                        <button type="submit" class="btn btn-primary">완료</button>
                    </div>
                </form>

                {% else %}
                <p><a href="{% url 'login' %}">로그인</a>을 먼저 해주세요.</p>
                {% endif %}

            </table>
            <div class="col-md-10-left">
            {% for comment in comments %}
            <div class="comment">
                <div class="date" style="font-size: small;">
                    {{comment.published_date}}
                    {% if comment.user.username == request.session.user_id %}
                        <a href="{% url 'remove_comment' pk=movie.pk comment_id=comment.id %}">삭제</a>
                    {% endif %}
                </div>
                <strong>{{comment.user.username}}</strong>
                <p>{{comment.comment|linebreaksbr}}</p>
                <hr>
            </div>
            {% empty %}
            <p>아직 댓글이 없습니다.</p>
            {% endfor %}
            </div>

        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    $(".star").on('click',function(){
        var star_value = $(this).attr('value');
        $('#comment-score').val(star_value);
        var idx = $(this).index();
        $(".star").removeClass("on");
         for(var i=0; i<=idx; i++){
            $(".star").eq(i).addClass("on");
         };
    });
</script>

{% endblock comment %}
