.modal-black {
	color: #9f9f9f;
	width: 525px;
	font-size: 15px;
}
.modal-black .modal-content {
	padding: 40px 50px;
	border-radius: 1px;
	border: none;
}
.modal-black .modal-header {
	border-bottom: none;
	position: relative;
	text-align: center;
	border-radius: 5px 5px 0 0;
}
.modal-black h4 {
	color: #000;
	text-align: center;
	font-weight: 800;
	font-size: 30px;
	margin: 0;
	text-transform: uppercase;
}
.modal-black .close {
	position: absolute;
	top: -25px;
	right: -35px;
	color: #c0c3c8;
	text-shadow: none;
	opacity: 0.5;
	font-size: 26px;
	font-weight: normal;
}
.modal-black .close:hover {
	opacity: 0.8;
}
.modal-black .form-control, .modal-black .btn {
	min-height: 46px;
	border-radius: 1px;
}
.modal-black .form-control {
	box-shadow: none;
	background: #f5f5f5;
	border-color: #d5d5d5;
	margin-bottom: 0.5rem;
}
.modal-black .form-control:focus {
	border-color: #ccc;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
.modal-black .btn {
	text-align: center;
	color: #fff;
	background: #353535;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	padding: 10px 20px;
	border: none;
	margin-top: 0.5rem;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
}
.modal-black .btn:hover, .modal-black .btn:focus {
	background: #171717;
	outline: none;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}
.modal-black .form-group {
	padding: 0 20px;
	margin-top: 30px;
}