# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\jinsilpython\recommend_movie\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
